  body {
      background-color: #f8f9fa;
    }

    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }

    form {
      background-color: #fff;
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }

    .btn-custom {
      padding: 8px 20px;
      border-radius: 6px;
      background-color: green;
      text-decoration-color: #fff;
    }